.verify-page {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    transition: background-color 0.25s ease-in-out;
    color: var(--primary-text-color);
    }
    
    .verify-body {
      direction: rtl;
      height: 100vh;
      padding-top: 5vh;
      padding-bottom: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }